
:root{
    --backgroundColor:#eeeeee;
    --lightMode:#fff;
    --themeColorBlue:royalblue;
    --themeColorViolet:darkorchid;
    --themeColorOrange:orange;
    --whiteColor:#fff;
    --blackColor:#343a40;
    --darkColor:#2a4763;
    --redColor:red;
    --TextColor:#9a9797;
    --TextColor2:#000;
    --lightestTextColor:#fff;
    --navbarBColor:#fff;
}